
{{!-- Testing Modal --}}
<div class="row">
    <div class="theModal">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Make a New Event</h4>
                    </div>

                    {{!-- Input area for New Events --}}
                    <div class="modal-body">
                        <form class="create-update-form" action="/events" method="POST">
                            {{!-- Event Name --}}
                            <div class="form-group">
                                <label class="control-label" for="ca">Event Name</label>                   
                                <input id="textinput" name="eventName" type="text" class="form-control input-md">
                            </div>

                            <!-- Event Location -->
                            <div class="form-group">
                                <label class="control-label" for="ca">Event Location</label>                            
                                    <select id="eventType" name="eventLocation" class="form-control">
                                        <option value="Jefferson Park">Jefferson Park</option>
                                        <option value="Community Pool D">Community Pool A</option>
                                        <option value="Community Building 1">Community Building 1</option>
                                        <option value="Tri Park">Tri Park</option>
                                        <option value="Apple Park">Apple Park</option>
                                        <option value="Community Pool A">Community Pool A</option>
                                    </select>                         
                            </div>

                            <!-- Event Time -->
                            <div class="form-group">
                                <label class="control-label" for="ca">Event Time</label>
                                <input id="textinput" name="eventTime" type="text" placeholder="00:00 AM/PM" class="form-control input-md">
                            </div>  

                            <!-- Event Date Input-->
                            <div class="form-group">    
                                <label class="control-label" for="ca">Date</label>
                                <input id="textinput" name="eventDate" class="form-control" placeholder="MM/DD/YYYY" type="text">
                            </div>

                            <!-- Event Details -->
                            <div class="form-group">
                                <label class="control-label" for="ca">Event Details</label>
                                <input id="textinput" name="eventDetails" type="text" placeholder="" class="form-control input-md">
                            </div>

                            <!-- Submit BUtton -->
                            <div class="form-group">
                                <label class="control-label" for="submitButton"></label>
                                <button id="submitButton" name="submitButton" class="btn btn-large">Save</button>
                            </div>
                        </form>                                                                                                                                          
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>