<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Community Blog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="../stylesheets/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row page-header">
                <h1>The Community <small>Where you can find the latest and greatest</small></h1>
            </div>
            <div class="row">
                <ul class="nav nav-pills">
                    <li role="presentation"><a href="/home">Home</a><span class="glyphicon glyphicon-home" aria-hidden="true"></span></li>
                    <li role="presentation"><a href="/profile">Profile</a><span class="glyphicon glyphicon-user" aria-hidden="true"></span></li>
                    <li role="presentation"><a href="/blog">Blog</a><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></li>
                    <li role="presentation"><a href="/events">Events</a><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></li>
                    <li role="presentation"><a href="/newsletters">Newsletter</a><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></li>
                    <li role="presentation"><a href="/classifieds">Classifieds</a><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></li>
                    <li role="presentation"><a href="/chatroom">Chat Room</a><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></li>
                </ul>
            </div>
            <div class="row">
                {{{body}}}
            </div>
        </div>
        <script src="../javascripts/chat.js"></script>
    </body>
</html>