<h3>Welcome to the live chat room</h3>

<div id="forum-chat">
    <div id="chat-window">
        <div id="output"></div>
        <div id="feedback"></div>
    </div>
    <input type="text" id="handle" placeholder="Name">
    <input type="text" id="message" placeholder="Message">
    <button id="send">Send</button>
</div>