
<div id="eventsPost">
    {{!--Displays Information of Events--}}
    <div class="row">
        <ul>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Upcoming Events </h2>
                    {{>eventsTable}} 
                    {{!-- Modal Buttton --}}
                    <button type="button" class="btn btn-large" data-toggle="modal" data-target="#myModal">Add New Event</button>                                
                </div>
            </div>
        <ul>
    </div>
    
    {{!--Input data to make a new event--}}
    <div class="row">
        {{!-- New Events --}}
         {{>newevents}}
    </div>      

</div>



