<h1>Welcome to Our Community Newsletter</h1>
<div id="newsletterPost">
    {{!--Will display the newsletters--}}
    <div class="row">
        <ul>
            {{#each newsletters}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>{{this.post_title}}</strong></h3>
                    </div>
                    <div class="panel-body">
                        <p>Created at: {{this.createdAt}}</p>
                        <p>{{this.post_body}}</p>
                    </div>
                </div>
            {{/each}}
        </ul>
    </div>

    <div class="theModal">
        {{>postnewsletter}}       
    </div>   
</div>


