
<div class="container">
    {{!--Will display the newsletters--}}
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Current News</h3>
                </div>
                    <ul>
                        {{#each newsletters}}
                            <h3>{{this.post_title}}</h3> <h4> {{this.createdAt}}</h4>
                            <p>{{this.post_body}}</p>
                        {{/each}}
                    </ul>           
            </div>
        </div>          
    </div>

    {{!--Input Box for New Newsletter updates--}}
    <form class="form-horizontal" action="/newsletters" method="POST">
        <!-- <fieldset> -->

            <!-- Form Name -->
            <!-- <legend>Add Event</legend> -->

            <!-- Newsletter Title-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="ca">Newsletter Title</label>
                <div class="col-md-6">
                    <input id="textinput" name="title" type="text" class="form-control input-md">

                </div>
            </div>

            <!-- Newsletter Body -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="ca">Newsletter Information</label>
                <div class="col-md-6">
                    {{!--<input id="textinput" name="body" type="text" class="form-control input-md" >--}}
                    <textarea class="form-control" name="body" rows="5" id="comment"></textarea>
                </div>
            </div>

            <!-- Button (D  ouble) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submitButton"></label>
                <button id="submitButton" name="submitButton" class="btn btn-primary">Post News</button>
            </div>

        <!-- </fieldset> -->
    </form>   

</div>