<h1>Login Error</h1>

<div id="nologinerror">
      <h2>You must be logged in to use this site.</h2>

      <button onclick="location.href='/'" type="button">
     Click Here to Login</button>
      </div>



      
          